
.lead-blog-section{
    margin-bottom: 88px;
    .lead-img-blog{
        background-size: cover;
        background-position: center;
        .lead-blog-section-title{
            font-family: $custom-font;
            font-size: 60px;
            font-weight: 300;
            letter-spacing: 20px;
            line-height: 84px;
            padding-top: 285px;
            padding-bottom: 285px;
        }
    }
}

.trends{
    .blog-item{
        margin-bottom: 50px;
    }
    .pagination{
        a{
            text-decoration: none;
            color: $dark;
            font-family: $custom-font;
            font-size: 16px;
            line-height: 24px;
            &:active,
                &:hover{
                background-color: $second-color;
            }
        }
    }
}
@media(min-width: 768px){
    .trends{
        .blog-item{
            margin-bottom: 100px;
        }
    }
}

// M-BLOG-SINGLE-page

.blog-single-lead{
    margin-bottom: 60px;
    .blog-date{
        font-size: 1.4rem;
        letter-spacing: 1px;
        line-height: 17px;
        font-family: $custom-font;
        color: $dark;
        padding-top: 90px;
        padding-bottom: 20px;
    }
    .blog-single-title{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 26px;
    }
    .blog-single-lead-text{
        margin-bottom: 21px;
        font-size: 2rem;
        line-height: 2.8rem;
    }
}
.blog-single-content{
    margin-bottom: 237px;
    .blog-single-content-text{
        font-size: 1.8rem;
        line-height: 2.6rem;
        margin-bottom: 41px;
    }
    img{
        margin: 30px 0;
    }
    .tag{
        font-family: $custom-font;
        margin-bottom: 20px;
    }
    a{
        padding: 3px 14px;
        background-color: #F5F5F5;
        font-family: $custom-font;
        margin-right: 10px;

    }
}
@media(min-width: 578px){
    .blog-single-lead{
        margin-bottom: 97px;
        .blog-date{
            padding-top: 192px;
        }
        .blog-single-title{
            font-size: 44px;
            line-height: 50px;
        }
    }
    .blog-single-content{
        margin-bottom: 237px;
        img{
            margin: 52px 0;
        }
    }
}
