@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
//font-family: "Lato", sans-serif;

@font-face {
  font-family: 'Bodoni-book';
  src: url('Bodoni-Book.otf') format('truetype');
}
$custom-font: 'Bodoni-book';

