footer{
    margin-top: 53px;
    .social{
        margin-bottom: 19px;
        a{
         font-size: 30px;
        color: $second-color;
        text-decoration: none;   
        }
    }
    p{
        font-size: 12px;
        line-height: 4.1rem;
        letter-spacing: -0.17px;
    }
    
}

